<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/static/styles.css" />

</head>
<body>

<div class="center-container">
    <h1>Message Consumer usage</h1>
    <p>Oops, look this there is not POST action to read from.</p>
    <p>Make sure you're requesting this page with JSON POST data, for example:</p>
    <pre>{
    "userId": "134256",
    "currencyFrom": "EUR",
    "currencyTo": "GBP",
    "amountSell": 1000,
    "amountBuy": 747.10,
    "rate": 0.7471,
    "timePlaced" : "24-JAN-15 10:27:44",
    "originatingCountry" : "FR"
}</pre>
</div>

</body>
</html>

